node_modules
# Keep environment variables out of version control
.env

/generated/prisma
# Next.js build output
.next/
out/
# Build cache
*.tsbuildinfo
output

# Logs
logs/
*.log
backups
python_tts_service2
public/audio
tts_venv/
tts_venv
reports/
.DS_Store
prisma/migrations
dockers
other-project-demo